.uid{
    color: #7742b8;
}
.keyA{
    color: #96e187;
}
.keyB{
    color: #4d8027;
}
.accessControl{
    color: #e2702f;
}

body{
    margin-bottom: 120px;
    margin-top: 0;
}

.binary-input{
    margin:0 auto;
    white-space: pre-wrap;
    border-radius: 6px;
    font-size: 14px;
    font-family: "SourceCodePro", serif;
    text-align: center;
    width: fit-content;
    padding: 8px;
}
.binary-input:focus{
    outline: 0;
}
.textarea-label{
    display: flex;
    margin: 20px auto 5px;
    font-size: 14px;
}


#bottom-area{
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 8px;
    font-size: 12px;
}
#update-tag-color{
    font-size: 11px;
    border: none;
    border-radius: 10px;
    width: max-content;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 15px;
    vertical-align: middle;
    box-shadow: none;
}
#file-info{
    text-align: center;
    width: 100%;
}
#file-info span{
    vertical-align: middle;
}
#file-info button{
    margin-top: 10px;
    margin-bottom: 8px;
}
#file-info img{
    vertical-align: middle;
}
#caption_area{
    margin-left: 10px;
}
#caption_area span{
    display: inline-block;
    vertical-align: middle;
}

@media (prefers-color-scheme: light) {
    .binary-input {
        border: 1px solid #ccc;
    }

    .binary-input:focus {
        border-color: #66afe9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
    }

    #bottom-area {
        background-color: white;
    }

    #update-tag-color {
        background-color: lightgray;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1b202b;
        color: #cbcdce;
    }

    .binary-input {
        border: 1px solid #000000;
        background-color: #3f3f46;
        color: #cbcdce;
    }

    .binary-input:focus {
        border-color: #000000;
        box-shadow: inset 0 1px 1px #222225, 0 0 8px rgba(67, 68, 82, 0.93)
    }

    #bottom-area {
        background-color: #1b202b;
    }

    #update-tag-color {
        background-color: #3a4150;
        color: #cbcdce;
    }
    #drag{
        filter: invert(80%);
    }
}