.selected .dump-item {
    border-radius: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin-bottom: 90px;
    user-select: none;
}

hr {
    border: 0;
    padding-top: 1px;
    background: linear-gradient(to right, transparent, #d0d0d5, transparent);
}

#dumpsList {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

.dump-item {
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    text-align: center;
}

#buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 20px;
}

#buttons button {
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin: 10px 10px 20px 15px;
}
#buttons button:hover{
    transition: 80ms;
}
#buttons button:disabled {
    opacity: 0.5;
    box-shadow: none;
    cursor: not-allowed;
}
#dumpsList li span{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}
.dump-action-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
}
.dump-action-button:hover {
    border-radius: 20%;
}
.dump-action-button-img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.dump-action-edit{
    width: 100%;
    font-size: 14px;
    padding: 3px;
    outline: 0;
    border-radius: 6px;
}
.dump-item-filename{
    min-width: calc(100% - 60px);
    text-align: left;
}

@media (prefers-color-scheme: light) {
    .selected .dump-item {
        background-color: #D2DEF9;
    }

    #buttons {
        background-color: white;
    }

    #buttons button {
        background-color: #f4f5fc;
        color: black;
        box-shadow: 0 6px 12px rgb(65 104 207 / 20%);
    }

    #buttons button:hover {
        background-color: #4168cf;
        color: white;
    }

    #buttons button:disabled {
        background-color: #e0e0e0;
        color: #a0a0a0;
    }

    .dump-action-button:hover {
        background-color: rgba(162, 161, 161, 0.37);
    }

    .dump-action-edit {
        border-color: #66afe9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1b202b;
        color: #cbcdce;
    }

    .selected .dump-item {
        background-color: #32426b;
    }

    #buttons {
        background-color: #1b202b;
    }

    #buttons button {
        background-color: #384151;
        color: #cbcdce;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    #buttons button:hover {
        background-color: #4c5463;
        color: #cbcdce;
    }

    #buttons button:disabled {
        background-color: #1a1a1a;
        color: #a0a0a0;
    }

    .dump-action-button:hover {
        background-color: rgba(162, 161, 161, 0.37);
    }

    .dump-action-edit {
        background-color: #3f3f46;
        color: #cbcdce;
        border-color: #000000;
        box-shadow: inset 0 1px 1px #222225, 0 0 8px rgba(67, 68, 82, 0.93)
    }
    .invert-color-when-dark{
        filter: invert(80%);
    }
}
