.selected .dump-item {
    background-color: #D2DEF9;
    border-radius: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin-bottom: 70px;
    user-select: none;
}

#dumpsList {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

.dump-item {
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    text-align: center;
}

#buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

#buttons button {
    background-color: #f4f5fc;
    border: none;
    color: black;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    box-shadow: 0 6px 12px rgb(65 104 207 / 20%);
    cursor: pointer;
    margin: 10px 10px 20px 15px;
}
#buttons button:hover{
    background-color: #4168cf;
    color: white;
    transition: 80ms;
}
#buttons button:disabled {
    opacity: 0.5;
    background-color: #e0e0e0;
    color: #a0a0a0;
    box-shadow: none;
    cursor: not-allowed;
}
#dumpsList li span{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}
.dump-action-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
}
.dump-action-button:hover {
    background-color: rgba(162, 161, 161, 0.37);
    border-radius: 20%;
}
.dump-action-button-img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.dump-action-edit{
    width: 100%;
    font-size: 14px;
    padding: 3px;
    outline: 0;
    border-radius: 6px;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.dump-item-filename{
    min-width: calc(100% - 60px);
    text-align: left;
}