@font-face{
    font-family: 'SourceCodePro';
    src: url('../assert/font/SourceCodePro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    user-select: none;
    text-align: center;
    margin-top: 20px;
}

.sub-title{
    text-decoration: underline;
    font-size: 14px;
    font-family: "黑体", "Times New Roman", serif;
    margin-bottom: 10px;
}

.hr-edge-weak {
    border: 0;
    padding-top: 1px;
    background: linear-gradient(to right, transparent, #d0d0d5, transparent);
    margin-top: 20px;
    margin-bottom: 10px;
}

.title{
    font-size: 14px;
    font-family: "黑体", "Times New Roman", serif;
    margin-top: 20px;
}

.final-button button{
    background-color: #f4f5fc;
    border: none;
    color: black;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    box-shadow: 0 6px 12px rgb(65 104 207 / 20%);
    margin-top: 20px;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
}
.final-button button:hover{
    background-color: #4168cf;
    color: white;
    transition: 130ms;
}

input[type="text"]{
    outline-style: none ;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px;
    width: 200px;
    font-size: 14px;
    font-family: "SourceCodePro", serif;
    margin-top: 20px;
}
input[type="text"]:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.radio-group{
    margin-top: 20px;
    display:inline-block;
    width: 200px;
    text-align: center;
    margin-right: 10px;
}

input[type="radio"]{
    display: none;
}
input[type="radio"] + .radio-wrapper{
    display: inline-block;
    background-color: white;
    color: black;
    line-height: 30px;
    height: 30px;
    width: 40%;
    border-radius: 40px;
    box-shadow: 0 6px 12px rgb(65 104 207 / 20%);
    cursor: pointer;
    margin-left: 4.5%;
    margin-right: 4.5%;
}
input[type="radio"]:checked + .radio-wrapper{
    background-color: #4168cf;
    color: white;
    transition: 130ms;
}
input[type="radio"]:disabled + .radio-wrapper{
    background-color: #fafafa;
    color: black;
    transition: 0ms;
}

label:not(.radio-wrapper):not(.checkbox-wrapper){
    display: inline-block;
    padding-right: 8px;
    text-align: right;
    width:80px;
    vertical-align: center;
}
#dict-file{
    display: inline-block;
    width: 200px;
    text-align: right;
}
button{
    background-color: #f4f5fc;
    border: none;
    color: black;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    box-shadow: 0 6px 12px rgb(65 104 207 / 20%);
    margin-top: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 15px;
}
button:hover{
    background-color: #4168cf;
    color: white;
    transition: 80ms;
}